{% extends 'base.html' %}
{% load wagtailimages_tags %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="cc-inner-title">{{page.title}}</h1>

        {% if page.subtitle %}

        <p class="cc-inner-subtitle">{{page.subtitle}}</p>

        {% endif %} 

    </div>
  </div>
  
  <div class="row mt-4">
    {% for card in services%}
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card mb-3 text-center">
        <a href="@todo">
            <picture>
                {% image card.service_image fill-400x300 as card_img%}
                <img src="{{card_img.url}}" style='width:100%; height: auto;'>
            </picture>
        </a>
        <div class="card-body py-3 px-3">
          <a href="@todo">
            <h5 class="card-title">{{card.title}}</h5>
            <p class="card-description">{{card.description}}</p>
          </a>
          <p class="card-text">
            <a href="@todo" class="btn btn-link d-inline">{{card.button_text}}</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% endblock %}

  
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinPlon - Liste des services</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
</body>
</html> {% endcomment %}
